@font-face {
  font-family: Cormoran-Regular;
  src: url(./fonts/Cormorant-Bold.woff2);
}

@font-face {
  font-family: MarrSansCondensed;
  src: url(./fonts/MarrSansCondensed-Regular.woff2);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./fonts/Roboto-Regular.woff2);
}

@font-face {
  font-family: English-Towne;
  src: url(./fonts/EnglishTowne.woff2);
}

@font-face {
  font-family: EngraversOldEnglish;
  src: url(./fonts/EngraversOldEnglish.otf);
}








  